#header{
	font-family: "High Tower Text", "Arial Narrow", serif;
	font-weight: bolder;
	width: 90%;
	background-color: #AF1D1D;
	font-size: 17pt;
	padding-left: 50px;
}
body{
	align: center;
	font-family: "High Tower Text", "Arial Narrow", serif;
	font-size: 27px;
	width: 97%;
}